body{
    background-color: #606060;
    color:aliceblue;
    padding: 0px;
    margin: 0px;
}

a:visited{
    color:aliceblue;   
}
#heading{
    background-color: green;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#loginout{
    width: 50%;
    font-size: 20px;
}

#currentuser{
    width: 30%;
    font-size: 20px;
}
#core{
    justify-content: space-between;
    align-items: center;
}
#content{
    background-color: green;
    min-height: 300px;
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 5%;
}