<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    {% if user %}
    <header class="heading">
        <div class="loginout"><a href = "{{url_for('logout')}}">Wyloguj się</a></div>
        <div id="currentuser">Current user: {{user['display_name']}}</div>
    </header>
    <main id="core">
        <article id="content">
            <h2>Playlisty:</h2>

        </article>
    </main>
    {% else %}
    <header class="heading">
        <div class="loginout"><a href = "{{url_for('login') }}">Zaloguj się</a></div>
    </header>
    {% endif %}

</body>
</html>